/*accueil*/
.titreAccueil{
    text-align: center;
    padding-bottom: 40px;
}
.menuAccueil{
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}
.menuAccueil a{
    padding-bottom: 50px;
}
/*start_prelevement*/
.container1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.container2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 100px;
}
.btn_submit{
    display: flex;
    justify-content: center;
}
/*start_2_prelevement*/
.formmm{
    display: flex;
    justify-content: center;
    align-content: center;
}
.form-horizontal input{
    width: 100%;
}
.form-horizontal h4{
    padding-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
}
.form-horizontal .form-group{
    display: inline-flex;
    align-content: center;
    justify-content: center;
    margin: 1em;
}
.titreLong{
    margin-right: 23px;
}
.titreLong1{
    margin-right: 10px;
}
.submt{
    display: flex;
    justify-content: center;
    align-content: center;
}
.titrePoint{
    text-align: center;
}
/*compteur_prelevement*/

.container3{
    display: flex;
    justify-content: center;
    text-align: center;
}
.inputNumb{
    width: 9%;
}
.container5 button{
    margin-left: 1em;
}
.container5 button{
    margin-left: 1em;
}
.table-striped{
    width: 100%;
}
