
.portailAdmin {
    display: flex;
    flex-flow: row;
}

.portailAdmin1 {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-around;
}

.portailAdmin2 {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: right;
    margin-left: 250px;
}

.portailAdmin>a {
    margin: 2%;
}

.modif {
    display: flex;
    justify-content: space-between;
}
